<div class="container">
  <div class="weather-container">
    <div style="margin-top: 1rem"></div>
    <h1>Check weather</h1>
    <div class="weather-form">
      <mat-form-field class="weather-form-full-width">
        <mat-label>Longitude</mat-label>
        <input
          matInput
          [(ngModel)]="coordinates.longitude"
          placeholder="45.89"
          type="number"
          min="0"
          step="0.0001"
        />
      </mat-form-field>

      <mat-form-field class="weather-form-full-width">
        <mat-label>Latitude</mat-label>
        <input
          matInput
          [(ngModel)]="coordinates.latitude"
          placeholder="45.89"
          type="number"
          min="0"
          step="0.0001"
        />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="getWeather()">
      Check weather
    </button>
    <mat-spinner *ngIf="showLoader" class="loader"></mat-spinner>
    <div *ngIf="weatherStatistics | async as dataSource">
      <div
        class="weather-table"
        *ngIf="dataSource.dailyAvgTemperature !== undefined"
      >
        <table
          mat-table
          [dataSource]="dataSource.dailyAvgTemperature"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef>Day</th>
            <td mat-cell *matCellDef="let element">{{ element.day | date }}</td>
          </ng-container>

          <ng-container matColumnDef="avg_temp">
            <th mat-header-cell *matHeaderCellDef>Average Temperature</th>
            <td mat-cell *matCellDef="let element">
              {{ element.avgTemperature | number : "1.2-2" }} &#x2103;
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <button
          mat-raised-button
          color="primary"
          class="download-button"
          (click)="download()"
        >
          Download csv
        </button>
        <mat-spinner *ngIf="showDownloadLoader" class="loader"></mat-spinner>
      </div>
    </div>
  </div>
</div>
